.chat {
  width: 100%;
  height: calc(100% - 72px);
  max-height: calc(100% - 72px);
  display: flex;
  flex-direction: column;
}

.chat .scroll {
  background-color: #e5ddd5;
  background-image: url("../../assets/images/background.png");
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

.chat .container {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100%;
  overflow-y: scroll;
  padding-right: 2px;
}

.chat .messages {
  padding: 32px 0;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}

.chat .input {
  display: flex;
  background-color: #f0f0f0;
  padding: 8px;
}

.input textarea {
  flex-grow: 1;
  margin-right: 16px;
  border: none;
  border-radius: 24px;
  font-size: 20px;
  padding: 8px 16px;
  resize: none;
  font-family: inherit;
}

.input textarea::-webkit-scrollbar {
  display: none;
}

.input button {
  background: none;
  opacity: 0.3;
  padding: 0;
  min-width: 28px;
  margin-right: 8px;
  transition: all ease 0.2s;
  user-select: none;
}

.input button:hover {
  opacity: 0.6;
}

.loadMore {
  width: 100%;
  color: #fff;
  background-color: darkgrey;
  opacity: 0.7;
  padding: 16px;
  text-align: center;
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;
}

.linearActivity {
  overflow: hidden;
  width: 100%;
  height: 4px;
  background-color: #bfffd1;
  margin: 0;
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 100%;
}

.indeterminate:before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #24d755;
  animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #24d755;
  animation: indeterminate_second 1.5s infinite ease-in;
}

.input img {
  width: 100%;
  min-width: 12px;
  max-width: 36px;
}


.emojiContainer {
  position: absolute;
  bottom: 60px;
}

.input.true button.hide {
  padding: 0;
  width: 0;
  margin: 0;
  min-width: 0;
}

.hide img {
  min-width: 0;
}

.record.true {
  opacity: 1;
}

.record.true img {
  display: none;
}

.record img.recording {
  display: none;
}

.record.true img.recording {
  display: block;
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@media screen and (max-width: 600px) {
  .chat .container {
    max-width: 100vw;
    overflow-y: scroll;
  }
  .input img {
    margin: 0;
    max-width: 30px;
  }

}
