.container {
  display: flex;
  margin-bottom: 2px;
  padding: 0 7%;
  text-align: initial;
  user-select: none;
  transition: all 0.1s linear;
}

.container > div {
  padding: 8px;
  border-radius: 8px;
  max-width: 85%;
  width: auto;
  font-size: 14px;
  position: relative;
  display: flex;
  height: fit-content;
}

.container > div:first-child {
  z-index: 2;
}

.container div.options {
  background-color: transparent;
  padding: 0;
}

.container .options > div {
  background-color: #efefef;
  border-radius: 50%;
  padding: 6px;
  transition: margin 400ms ease;
}

.container .options.true div {
  margin: 0 4px;
}

.container .options.false {
  margin-right: 0;
}


/* handle right side animation */
.right .options {
  margin-right: 16px;
}

.right .options.false div:nth-child(3) {
  margin-right: -56px;
}

.right .options.false div:nth-child(2) {
  margin-right: -36px;
}

.right .options.false div:nth-child(1) {
  margin-right: -26px;
}

/* handle left side animation */
.left .options {
  margin-left: 16px;
}

.left .options.false div:nth-child(3) {
  margin-left: -48px;
}

.left .options.false div:nth-child(2) {
  margin-left: -32px;
}

.left .options.false div:nth-child(1) {
  margin-left: -48px;
}

.options img {
  height: 20px;
  cursor: pointer;
}

.left + .right,
.right + .left {
  margin-bottom: 12px;
}

.right {
  flex-direction: row-reverse;
}

.center {
  justify-content: center;
  margin: 16px;
}

.right > div {
  background-color: #dcf8c6;
  border-top-right-radius: 0;
}

.left > div {
  background-color: #fff;
  border-top-left-radius: 0;
}

.left > div:not(.options):before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #fff;
  border-left: 0;
  border-top: 0;
  margin-top: 0;
  margin-left: -8px;
}

.right > div:not(.options):before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: #dcf8c6;
  border-right: 0;
  border-top: 0;
  margin-top: 0;
  margin-right: -8px;
}

.container .time {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.45);
  position: absolute;
  right: 6px;
  display: flex;
  bottom: 6px;
}

.container .sale {
  text-align: center;
  max-width: 100%;
  margin: auto;
  margin-top: 16px;
  background-color: #8bc34a;
  border-radius: 4px;
  line-height: 1.5em;
}

.time img {
  opacity: 0.5;
}

.message {
  display: inline-flex;
  flex-direction: column;
  overflow-wrap: anywhere;
}

.message a,
.message a:visited {
  color: #1b7bb7;
}

div.message p {
  margin: 4px 0;
  font-weight: bold;
  text-align: end;
}

.left div.message p {
  text-align: start;
}

.message span {
  line-height: 19px;
  line-break: auto;
}

.message .buffer {
  width: 56px;
  display: inline-block;
}

.container span,
.container p {
  margin: 0;
}

.day {
  background-color: #e1f5fe;
  padding: 5px 12px 6px;
  border-radius: 8px;
  text-align: center;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 1px 0.5px rgba(#000, 0.13);
  text-shadow: 0 1px 0 rgba(#fff, 0.4);
  font-size: 12.5px;
  text-transform: uppercase;
  width: fit-content;
}

.image {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 16px;
  cursor: pointer;
}

.image div {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.sticker img {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
}

div.noBg {
  background-color: transparent;
}

div.noBg::before {
  border-color: transparent;
}

.audio {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #4caf50;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.audioController {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 40px;
  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 20px 0 20px 30px;
  margin-left: 8px;
}
.audioController.paused {
  border-style: double;
  border-width: 0px 0 0px 30px;
  margin-left: 0;
}
.audioController:hover {
  border-color: transparent transparent transparent #ccc;
}

.image ~ .msg {
  max-width: 200px;
}
