.chatContainer {
  width: 100%;
  max-width: 100%;
}

.centerContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noChat {
  background-color: #f7f7f7;
  color: darkgrey;
  padding: 24px;
}

.header {
  width: 100%;
  padding: 8px;
  background-color: #f7f7f7;
  height: 72px;
  display: flex;
  align-items: center;
}

.header .profilePic {
  width: 56px;
  height: 56px;
  border-radius: 28px;
}

.header .name {
  flex-grow: 1;
}

.header .nameInput {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 8px;
  font-size: 20px;
  background-image: url(../assets/images/edit.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center right;
  max-width: 50vw;
}

.header .nameInput:focus {
  background: none;
}

.header .pinContainer {
  background: none;
  cursor: pointer;
  float: right;
  mask: url("../assets/images/pin.svg");
  -webkit-mask: url("../assets/images/pin.svg");
  width: 19px;
  height: 19px;
  background-color: #ccc;
  padding: 0;
  transition: background-color ease 0.3s;
}

.header .pinContainer.active {
  background-color: aquamarine;
}

.header .pinContainer:hover {
  background-color: #636363;
}

.hintBubble {
  background: #d6d6d6;
  border-radius: 0.4em;
  padding: 16px;
  position: absolute;
  z-index: 1;
  width: 256px;
  max-width: 50vw;
  text-align: center;
  color: #636363;
}

.hintBubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: #d6d6d6;
  border-top: 0;
  margin-left: -9px;
  margin-top: -9px;
}

.arrow {
  background-color: transparent;
}

.arrow img {
  width: 20px;
}
